{% extends "layout.html" %}
{% block content %}
<ul>
    {% for year in range(1999, 2020)[::-1] %}
        <li>
            <h3>{{ year }}年</h3>
            <table>
                <tr>
                    <th></th>
                    <th>名前</th>
                    <th>最低気圧</th>
                </tr>
                {% for typhoon in data %}
                {% if typhoon['year'] == year %}
                <tr>
                    <th>台風{{ typhoon['number'] }}号</th>
                    <th>{{ typhoon['name'] }}</th>
                    <th>{{ typhoon['pressure'] }}hPa</th>
                    <th><button onclick="location.href='{{ url_for('deviation', id=typhoon['id']) }}'">偏差値を計算</button></th>
                </tr>
                {% endif %}
                {% endfor %}
            </table>
        </li>
    {% endfor %}
</ul>
{% endblock %}