<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="utf-8">
        <title>台風偏差値</title>

        <!-- Twitterカード -->
        <meta name="twitter:card" content="summary" />
        <meta property="og:title" content="台風偏差値" />
        <meta property="og:description" content="台風の偏差値を計算します" />
        <meta property="og:image" content="https://cdn.vox-cdn.com/thumbor/TF_S0iSkeBukIrNvo4LwusXWsDI=/0x0:1021x628/1220x813/filters:focal(340x264:502x426):format(webp)/cdn.vox-cdn.com/uploads/chorus_image/image/61892999/Screen_Shot_2018_10_24_at_12.59.53_PM.0.png" />
    </head>
    <body>
        {% block content %}
        <!-- Contents -->

        {% endblock %}
    </body>
</html>